/* Bakgrund */
.background-about {
    background-color: #F2EBDD;
}

/* FAQ bakgrund */
.FAQ {
    background-color: #E5CBA0;
}

/* Om oss bakgrund */
.about {
    background-color: #E5CBA0;
}

/* Knapp kontaktformulär */
.send {
    background-color: #E29A2A;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}