/* ALLMÄNT */


/* Definerar färger och skriver sen över bootstraps förvalda */
:root {
    --bs-primary: #ff1400;
    --bs-primary-hover: #720d19;
    --bs-secondary: rgb(253, 251, 210);
    --bs-secondary-hover: #fcf9c1;
    --bs-primary-rgb: 255, 20, 0;
    --bs-secondary-rgb: 253, 251, 210;
    --bs-dark: #001A2B;
    --bs-dark-rgb: 0, 26, 43;
    --bs-dark-hover: #000000;
    --bs-light: #FAF9EF;
    --bs-light-rgb: 250, 249, 239;
    --bs-light-hover: #ffffff;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary-hover);
    --bs-btn-hover-border-color: var(--bs-primary-hover);
    --bs-btn-active-bg: var(--bs-primary-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
}

.btn-secondary {
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary-hover);
    --bs-btn-hover-border-color: var(--bs-secondary-hover);
    --bs-btn-active-bg: var(--bs-secondary-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
}

.btn-dark {
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-dark-hover);
    --bs-btn-hover-border-color: var(--bs-dark-hover);
    --bs-btn-active-bg: var(--bs-dark-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);
}

.btn-light {
    --bs-btn-bg: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-bg: var(--bs-light-hover);
    --bs-btn-hover-border-color: var(--bs-light-hover);
    --bs-btn-active-bg: var(--bs-light-hover);
    --bs-btn-focus-shadow-rgb: var(--bs-light-rgb);
}

.text-primary {
    color: var(--bs-primary) !important;
}

.text-secondary {
    color: var(--bs-secondary) !important;
}

.text-dark {
    color: var(--bs-dark) !important;
}

.text-light {
    color: var(--bs-light) !important;
}

.bg-primary {
    background-color: var(--bs-primary) !important;
}

.bg-secondary {
    background-color: var(--bs-secondary) !important;
}

.bg-dark {
    background-color: var(--bs-dark) !important;
}

.bg-light {
    background-color: var(--bs-light) !important;
}

.border-primary {
    border-color: var(--bs-primary) !important;
}

.border-secondary {
    border-color: var(--bs-secondary) !important;
}

.border-dark {
    border-color: var(--bs-dark) !important;
}

.border-light {
    border-color: var(--bs-light) !important;
}

.form-control:focus {
    border-color: var(--bs-primary);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.btn-outline-primary {
    --bs-btn-color: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: var(--bs-primary);
    --bs-btn-hover-border-color: var(--bs-primary);
}

.btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-bg: var(--bs-secondary);
    --bs-btn-hover-border-color: var(--bs-secondary);
}

.btn-outline-dark {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
}

.btn-outline-light {
    --bs-btn-color: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
}

/*STARTSIDA*/

/* För att få tallriksbilder att visas korrekt */
.plate-container {
    width: 85%;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    display: block;
}

/* Stilsättning för tallrikskant runt bilder*/
.plate-border {
    width: 100%;
    display: block;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-shadow: 0 0 0 10px var(--bs-light),
        0 0 0 11px var(--bs-primary),
        0 0 0 15px var(--bs-light),
        0 0 0 17px var(--bs-primary),
        0 0 0 21px var(--bs-light),
        inset 0 0 15px 5px rgba(0, 0, 0, 0.4);
    margin: 0px;
    filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.2));
}

/* Gör element klickbara på länkar som är över hela kort*/
.clickable-top {
    position: relative;
    z-index: 5;
}

.start-background {
    background: linear-gradient(rgba(0, 26, 43, 0.8), rgba(0, 26, 43, 1)), url('/assets/images/start_background.png');
    background-size: cover;
    background-position: center;
}

/* FAQ/OM OSS SIDA */
.rotate {
    transform: rotate(180deg);
}


/* ALLA RECEPT SIDA */

.plate-container-small {
    width: 70%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    padding: 30px;
    display: block;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-first-capitalize {
    text-transform: lowercase; /* Gör allt smått först */
}

.text-first-capitalize::first-letter {
    text-transform: uppercase; /* Gör bara första bokstaven stor */
}